{% extends 'base.html.twig' %}

{% block title %}Neuen Key hinzufügen erfolgreich{% endblock %}

{% block body %}
<div class="content-wrapper">
    <h2>Key erfolgreich hinzugefügt</h2>
</div>
{% endblock %}
