{% extends 'base.html.twig' %}

{% block title %}Zugewiesene Server{% endblock %}

{% block body %}
    <div class="content-wrapper" data-controller="serverlist">


        {% for server in servers %}
            {{ server.name }}
            {% if server.id in assignedServerIds %}
                <a href="{{ path('profile_serverRemove', {'serverId': server.id} ) }}" class="js-click">entfernen</a>
            {% else %}
                <a href="{{ path('profile_serverAssign', {'serverId': server.id} ) }}" class="js-click">zuweisen</a>
            {% endif %}

            <br/>
        {% endfor %}
    </div>
{% endblock %}


